
body {
    margin: 0 auto;
    max-width: 50em;
  }
  body {
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    font-weight: normal;
  }
  body {
    line-height: 1.5;
    padding: 4em 1em;
  }
  
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }
  body {
    color: #555;
  }
  h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  white-space: pre-wrap;
}
a {
    color: #e81c4f;
  }
  body {
    color: #566b78;
  }
  
  code,
  pre {
    background: #f5f7f9;

    color: #a0a0a0;
  }
  
  pre {
    border: 10px ridge rgb(134, 135, 136);
  }
  header {
    background-color: #ffffff;
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
  }
  img{
    width: 100%;
  }